
.container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 200px 50px 600px 100px;
    grid-template-areas:
    "banner"
    "nav"
    "main"
    "ft";
    }

    .box{
        background: #dfd7d5;
        border: 1px solid red;
    }

    .banner{
        background: #2e4053;
        grid-area: banner;
        background-image: url("images/hand_shake.jpg");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center; /* alinha a imagem no centro da tela" */


    }

    .nav{
        grid-area: nav;
    }

    .main{
        grid-area: main;
        align-items: center;
        justify-content: space-around;
        text-align:center;

    }

    .footer {
        grid-area: ft;
    }

    .flex_nav{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-content: center;
        margin-top: 15px;
    }

    .flex_nav_ft{
       display: flex;
       flex-direction: row;
       justify-content: space-around;
       align-content: center;
       margin-top: 15px;
    }

    .imagem_avatar{
        border-radius: 55px;
        width: 100px;
        height: 100px;
        margin-top: 20px;
    }

    ul {
        list-style-type: none;
    }
    li {
        float: left;
    }

    .icone_social{
        width: 50%;
    }

    .icone_nav{
        width: 20%;
    }



